body{
    color: rgb(28, 28, 28);
    padding-top: 50px; /* 50px to make the container go all the way to the bottom of the topbar */
    font-family: 'Lato';
    line-height: 30px;
}

body h1,h2,h3,h4{
    text-transform: uppercase;
}

a{
    color: rgb(150, 150, 150);
}

a:focus,
a:hover,
a:active{
    color: #171944;
}

.nav {
    text-transform: uppercase;
}

.head{
    text-align: center;

    padding-top: 180px;
    height: 700px;
    background: url(../images/head.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.head h2{
    line-height: 45px;
}


hr.black{
    margin: 25px auto 30px;
    padding: 0;
    max-width: 30px;
    border: 0;
    border-top: solid 1px;
    text-align: center;
    border-color: #000000;
}

hr.black-left{
    max-width: 30px;
    border: 0;
    border-top: solid 1px;
    border-color: #000000;
    text-align: left;
    margin-left: 0;
}


hr.white{
    margin: 25px auto 30px;
    padding: 0;
    max-width: 30px;
    border: 0;
    border-top: solid 1px;
    text-align: center;
    border-color: #ffffff;
}

.section {
    padding: 80px 80px;
}

.black-section{
    color: white;
    background-color: rgb(35,35,35);
}

.grey-section{
    background-color: rgb(230,230,230);
}

.aligned-section{
    text-align: center;
}

.dna-section{
    text-transform: uppercase;
}

.dna-section p{
    line-height: 35px;
}

.gendata-section{
    padding-top: 140px;
}

.in-text-picture{
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.features-section{
    padding-top: 40px;

}

.features-section h4{
    line-height: 25px;
}

.pip-section {
    background: url(../images/pip1.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right top;
    background-color: rgb(230, 230, 230);
}

.about-name{
    padding-top: 30px;
    font-size: 18px;
}

.about-descr{
    font-size: 14px;
    line-height: normal;
}

.photos-row{
    padding-bottom: 40px;
}

.contacts-section{
    padding-top: 50px;
    line-height: normal;
}

.contacts-section a{
    line-height: normal;
}

.footer {
    padding-top: 80px;
}

/* Custom default button */
.btn-primary,
.btn-primary:focus {
    text-transform: uppercase;
    border-radius: 0;
    color: #ffffff;
    text-shadow: none;
    background: black none;
    border-color: transparent;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}
.btn-primary:hover,
.btn-primary:active{
    text-transform: uppercase;
    border-radius: 0;
    color: black;
    background: white;
    border-color: black;
}

.contactform{
    padding-top: 20px;
}