{% load staticfiles %}
{% load compress %}
<html>
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GenoMetric Query Language</title>


{% compress css inline%}
    <link href="{% static 'gmql_website/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'gmql_website/bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'gmql_website/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'gmql_website/css/gmql_website.css' %}" rel="stylesheet">
{% endcompress %}

<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link  href="{% static 'gmql_website/images/favicon.ico' %}" rel="icon" type="image/x-icon" />


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <script src="{% static 'gmql_website/bootstrap/js/bootstrap.js' %}" type="text/javascript"></script>
    {% block extrahead %}
    {% endblock %}
    <script type="text/javascript">
        $(function () {
            {% block jquery %}
            {% endblock %}
        });
    </script>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">GMQL</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#challenge">Challenge</a></li>
                <li><a href="#gmql">Language</a></li>
                <li><a href="#gendata">Gendata 2020</a></li>
                <li><a href="#interface">Interfaces</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#about">About us</a></li>
                <li><a href="#contacts">Contacts</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>


{% block content %}
{% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{% compress js %}
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'gmql_website/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'gmql_website/bootstrap/js/docs.min.js' %}"></script>
{% endcompress %}
</body>
</html>