{% extends "gmql_website/base.html" %}
{% load staticfiles %}
{% load easy_maps_tags cache%}

{% block content %}

    <div class="container-fluid head">
        <div class="col-lg-4 col-lg-offset-4">
             <h2>Genomic data management research at politecnico di milano</h2>
             <hr class="black">
        </div>
    </div>

    <div class="container section" id="challenge">
        <div class="row">
        <div class="col-lg-5">
            <h2>Genomics big data challenge</h2>
            <p><span class="text-muted">NGS</span></p>
            <hr class="black-left">
            <p>In the coming decade, Next Generation Sequencing (NGS) will offer a fast and inexpensive technology (few hours and few hundreds of dollars) to read the whole human genome.</p>
            <br>
            <p>The data management community is not ready for NGS: data are managed by a variety of tools focused on specific data extractions and transformations, with specific physical formats and no focus on interoperability.</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 dna-section">
            <p class="lead pull-right in-text-picture"><img class="img-responsive" src="{% static 'gmql_website/images/icons/Dna (1)-01.png' %}" alt="DNA image" style="width: 100px; height: 100px;"></p>
             <p class="lead pull-right text-right">The human genome is a sequence of 3 billions of dna nucleotides.</p>
            <p class="lead pull-right text-right">The potential for their data querying, analysis and sharing may be considered as the biggest and most important "big data problem" of mankind.</p>
        </div>
        </div>
    </div>
    <div class="container section">
        <div class="row">
            <div class="aligned-section">
            <div class="col-lg-offset-4 col-lg-4">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#actscen" aria-expanded="false" aria-controls="actscen">
                    Actual scenario
                </button>
            </div>
            </div>
        </div>
    </div>

    <div class="collapse" id="actscen">
        <div class="container section aligned-section">
        <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>Distributed heterogeneous data</h2>
            <hr class="black">
        </div>
        </div>

        <div class="row features-section">
        <div class="col-lg-10 col-lg-offset-1">
            <img class="img-responsive in-text-picture" src="{% static 'gmql_website/images/icons/Heterogeneous data-01.png' %}" alt="Heterogeneous data image" style="width: 900px; height: 500px;">
        </div>
        </div>
    </div>
    </div>

    <div class="black-section aligned-section" id="gmql">
    <div class="container section">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>Genometric Query Language</h2>
            <p><span class="text-muted">GMQL</span></p>
            <hr class="white">
            <h4>Genometric query language (GMQL) a biologist-focused query language</h4>
            <h4>Enabling queries over hundreds of datasets and thousand of samples</h4>
            <img class="img-responsive in-text-picture" src="{% static 'gmql_website/images/icons/Dna (2)-01.png' %}" alt="DNA image" style="width: 200px; height: 150px;">
            <p>A new holistic and abstract approach that uses cloud computing technologies and an interoperable data format to store and query tens
of datasets, thousands of samples and several millions of DNA regions in order to discover interesting dna regions and their
relationships. Thanks to algebraic operations on both DNA regions and metadata, GMQL genome-wide queries are able to find
interesting regions by combining mutations, expression or regulation experiments</p>
        </div>
    </div>
    </div>

    <div class="container section aligned-section">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>GMQL features & publications</h2>
                <p><span class="text-muted">GMQL</span></p>
                <hr class="black">
            </div>
        </div>

        <div class="row features-section">
            <div class="col-lg-2 col-lg-offset-1">
                <p class="lead in-text-picture"><img class="img-responsive in-text-picture" src="{% static 'gmql_website/images/icons/Regions and data-01.png' %}" alt="Regions and data image" style="width: 170px; height: 150px;"></p>
                 <h4>Co-existence of multiple type of regions and their meta-data.</h4>
            </div>
            <div class="col-lg-2 col-lg-offset-2">
                <p class="lead in-text-picture"><img class="img-responsive in-text-picture" src="{% static 'gmql_website/images/icons/High level operations-01.png' %}" alt="High level operations image" style="width: 120px; height: 150px;"></p>
                 <h4>Easy composition of high-level operations.</h4>
            </div>
            <div class="col-lg-2 col-lg-offset-2">
                <p class="lead in-text-picture"><img class="img-responsive in-text-picture" src="{% static 'gmql_website/images/icons/Powerful processing-01.png' %}" alt="Powerful processing image" style="width: 100px; height: 150px;"></p>
                 <h4>Powerful genome-wide processing.</h4>
            </div>
        </div>
    </div>
    <div class="container section aligned-section">
        <div class="row">
            <div class="col-lg-offset-4 col-lg-4">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#morefeatures" aria-expanded="false" aria-controls="morefeatures">
                    Read more
                </button>
            </div>
        </div>
    </div>

    <div class="collapse" id="morefeatures">
        <div class="grey-section aligned-section">
        <div class="container section">
            <div class="col-lg-10 col-lg-offset-1">
                <img class="img-responsive in-text-picture" src="{% static 'gmql_website/images/icons/Regions and data-01.png' %}" alt="Regions and data image" style="width: 170px; height: 150px;">
                <h2>Co-existence of multiple types of experimental and annotation regions and their meta-data</h2>
                <br>
                <p>GMQL supports efficient high-level query processing of thousands of experimental data samples, produced with a variety
of experimental methods and encoded in a variety of data formats, together with their biological and clinical metadata
descriptions as well as multiple annotation data. It supports big data analysis combining
hundreds of samples with millions of regions.</p>
                <br>
                <br>
                <img class="img-responsive in-text-picture" src="{% static 'gmql_website/images/icons/Regions and data (2)-01.png' %}" alt="Regions and data image" style="width: 950px; height: 280px;">
            </div>
        </div>
        </div>

        <div class="aligned-section">
        <div class="container section">
            <div class="col-lg-10 col-lg-offset-1">
                <img class="img-responsive in-text-picture" src="{% static 'gmql_website/images/icons/High level operations-01.png' %}" alt="High level operations image" style="width: 120px; height: 150px;">
                <h2>Easy expression and composition of high-level operations</h2>
                <br>
                <p>Current tools for “big data” (e.g. BioPig, GQL) operate on reads and typically operate “sample by sample”.
Other tools which are used to combine samples and working on their regions (e.g. BEDTools, BEDOPS)
operate only on bed files - with a “scripting style” of programming.</p>
                <br>
                <p>GMQL instead, focused on assisting knowledge extraction, is meant to operate on higher level data obtained after raw
data preprocessing and feature calling, rather than on raw data directly. This offers the advantage of not interfering with
the variety of data preprocessing tools and pipelines that are already in place in the different research centers,
as well as of directly benefiting of their output, thanks to the interoperability and data integration support.</p>
                <br>
                <hr class="black">
                <h2>How a standard gmql query works</h2>
                <p>Example: Identification of distal bindings in transcription regulatory regions</p>
                <img class="img-responsive in-text-picture" src="{% static 'gmql_website/images/icons/Gmql Query_1-01.png' %}" alt="GMQL Query image" style="width: 950px; height: 250px;">
            </div>
        </div>
        </div>

        <div class="grey-section aligned-section">
        <div class="container section">
            <div class="col-lg-10 col-lg-offset-1">
                <img class="img-responsive in-text-picture" src="{% static 'gmql_website/images/icons/Powerful processing-01.png' %}" alt="Powerful processing image" style="width: 100px; height: 150px;">
                <h2>Powerful genome-wide processing</h2>
                <br>
                <p>Public data can be used not only by themselves, but also together with in house produced experimental data, for
integrated evaluations and comparisons with increased support. GMQL allows a powerful genome-wide processing and
leverages the high-level data, including variant calling, gene expression and region enrichment (i.e. peak) calling data,
which are increasingly available within public large data collections (e.g. 1000 Genomes Project, TCGA, and ENCODE).</p>
            </div>
        </div>
        </div>

    </div>

    <div class="pip-section">
    <div class="container section">
        <div class="row">
        <div class="col-lg-2 col-lg-offset-3">
            <p class="lead in-text-picture"><a href="http://www.bioinformatics.deib.polimi.it/genomic_computing/GMQL/index.html" class="btn btn-primary">GMQL Site</a></p>
        </div>
        <div class="col-lg-2 col-lg-offset-2">
            <p class="lead in-text-picture"><a href="http://www.ncbi.nlm.nih.gov/pubmed/25649616" class="btn btn-primary">Journal Site</a></p>
        </div>
        </div>
    </div>
    </div>

    <div class="black-section aligned-section">
    <div class="container section">
        <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>Genomic space abstraction</h2>
            <p><span class="text-muted">Genomic data model (GDM)</span></p>
            <hr class="white">
            <p>Our Genomic Data model (GDM) provides abstractions for DNA regions of the sample and for metadata describing the sample's properties for a simplified structured outcome and ideal format for data analysis. MAP operations, through reference region R, extract and standardize genomic features expressed in distinct dataset.</p>
        </div>
        </div>

        <div class="row features-section">
        <div class="col-lg-10 col-lg-offset-1">
            <p class="lead"><img class="img-responsive in-text-picture" src="{% static 'gmql_website/images/icons/Genome Abstraction-01.png' %}" alt="Abstraction image" style="width: 1000px; height: 200px;"></p>
        </div>
        </div>
    </div>
    </div>

    <div class="container section" id="gendata">
        <div class="col-lg-6">
            <h2>GENDATA 2020</h2>
            <p><span class="text-muted">Genometric query system architecture</span></p>
            <hr class="black-left">
            <p>Architecture operating upon cloud computing systems based on Hadoop and operating on four different layers: services, orchestration & translation, engines , management of files and data sources and including several integrated components for data management.</p>
            <br>
            <h4>A service-oriented API</h4>
            <p>for queries submitting, their execution monitoring and results retrieving.</p>
            <br>
            <h4>The orchestrator</h4>
            <p>submitting PIG instructions with appropriate settings so as to optimize performances.</p>
            <br>
            <h4>The indexer</h4>
            <p>providing metadata indexing using Lucene.</p>
            <br>
            <h4>The compiler</h4>
            <p>translating GMQL code to Pig Apache scripts.</p>
            <br>
            <h4>The repository</h4>
            <p>supporting the ad-hoc transformation of data from native formats to GDM after sample selection through indexing.</p>
        </div>
        <div class="col-lg-6 gendata-section">
            <p class="lead text-right"><img class="img-responsive in-text-picture" src="{% static 'gmql_website/images/icons/Gendata 2020-01.png' %}" alt="gendata2020 image" style="width: 500px; height: 700px;"></p>
        </div>
    </div>
<!--
    <div class="black-section aligned-section">
    <div class="container section">
        <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <p class="lead in-text-picture"><i class="fa fa-quote-right fa-2x"></i></p>
            <h2>Citation</h2>
            <p><span class="text-muted">Name Surname</span></p>
        </div>
        </div>

    </div>
    </div>
-->
    <div class="grey-section" id="interface">
    <div class="container section">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-5">
                <h2>Input viewer</h2>
                <p><span class="text-muted">Genome space analysis</span></p>
                <hr class="black-left">
                <p>We are studying user-friendly interfaces to further
                    facilitate the user interaction with our system to
                    express GMQL queries and to search genomic data
                    patterns of interest by visually drawing them in a
                    genome browser. We developed an input tool for
                    browsing metadata, which anticipates the effect of
                    sample selections, so as to visualize the number and
                    metadata of selected samples.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-1 dna-section">
                <p class="lead text-right in-text-picture"><img class="img-responsive in-text-picture" src="{% static 'gmql_website/images/input_view.png' %}" alt="Input Viewer image" style="width: 300px; height: 300px;"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 dna-section">
                <p class="lead text-left in-text-picture"><img class="img-responsive in-text-picture" src="{% static 'gmql_website/images/outpu_view.png' %}" alt="Input Viewer image" style="width: 300px; height: 300px;"></p>
            </div>
            <div class="col-lg-offset-1 col-lg-5">
                <h2>Output viewer</h2>
                <p><span class="text-muted">Genome space analysis</span></p>
                <hr class="black-left">
                <p>We also developed a output client-based tool for
                    analyzing genome spaces, i.e. tables of region and
                    sample data generated through GMQL.
                    The tool supports heat map visualization, ordering,
                    and clustering or bi-clustering.</p>
            </div>
        </div>
    </div>
    </div>

    <div class="container section" id="services">
        <div class="col-lg-offset-1 col-lg-5">
            <h2>GMQL Services</h2>
            <p><span class="text-muted">Custom queries</span></p>
            <hr class="black-left">
            <p>Easy-to-use services provide access to GMQL facilities of rapid data processing. GMQL Services is a collection of click-to-run bioinformatics services. The services operate at the level of regions, providing operations of rapid intersection, selection, join, etc. The services wrap selected GMQL queries providing a simple way of running them with user-defined parameters and files. Integrated services work with user data as well as with publicly available repositories (<a href="https://www.encodeproject.org/">ENCODE</a>, <a href="http://cancergenome.nih.gov/">TCGA</a>, etc.). It is possible to extend it by user-specified parametrized queries.</p>
        </div>
        <div class="col-lg-5 col-lg-offset-1 dna-section">
            <p class="lead text-right in-text-picture"><p class="lead text-left in-text-picture"><img class="img-responsive in-text-picture" src="{% static 'gmql_website/images/services.png' %}" alt="Input Viewer image" style="width: 300px; height: 300px;"></p>
        </div>
    </div>

    <div class="grey-section aligned-section" id="about">
    <div class="container section">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>About us</h2>
                <p><span class="text-muted">The team</span></p>
                <hr class="black">
            </div>
        </div>
        <div class="row photos-row">
            <div class="col-lg-3">
                <img class="img-circle" src="{% static 'gmql_website/images/team/Stefano Ceri-01.png' %}" alt="Stefano Ceri image" style="width: 200px; height: 200px;">
                <p class="about-name">Stefano Ceri</p>
                <p class="about-descr">Professor</p> <p class="about-descr">DEIB, Politecnico di Milano</p>
            </div>
            <div class="col-lg-3">
                <img class="img-circle" src="{% static 'gmql_website/images/team/Marco Masseroli-01.png' %}" alt="Marco Masseroli image" style="width: 200px; height: 200px;">
                <p class="about-name">Marco Masseroli</p>
                <p class="about-descr">Researcher and Lecturer</p> <p class="about-descr">Politecnico di Milano</p>
            </div>
            <div class="col-lg-3">
                <img class="img-circle" src="{% static 'gmql_website/images/unknown.png' %}" alt="Vahid Jalili image" style="width: 200px; height: 200px;">
                <p class="about-name">Vahid Jalili</p>
                <p class="about-descr">PhD Student</p> <p class="about-descr">DEIB, Politecnico di Milano</p>
            </div>
            <div class="col-lg-3">
                <img class="img-circle" src="{% static 'gmql_website/images/team/Abdulrahman Kaitoua-01.png' %}" alt="Abdulrahman Kaitoua image" style="width: 200px; height: 200px;">
                <p class="about-name">Abdulrahman Kaitoua</p>
                <p class="about-descr">PhD Student</p> <p class="about-descr">DEIB, Politecnico di Milano</p>
            </div>
        </div>
        <div class="row photos-row">
            <div class="col-lg-3">
                <img class="img-circle" src="{% static 'gmql_website/images/unknown.png' %}" alt="Fernando Paluzzi image" style="width: 200px; height: 200px;">
                <p class="about-name">Fernando Paluzzi</p>
                <p class="about-descr">PhD Student</p> <p class="about-descr">DEIB, Politecnico di Milano</p>
            </div>
            <div class="col-lg-3">
                <img class="img-circle" src="{% static 'gmql_website/images/unknown.png' %}" alt="Pietro Pinoli image" style="width: 200px; height: 200px;">
                <p class="about-name">Pietro Pinoli</p>
                <p class="about-descr">PhD Student</p> <p class="about-descr">DEIB, Politecnico di Milano</p>
            </div>
            <div class="col-lg-3">
                <img class="img-circle" src="{% static 'gmql_website/images/team/Yuriy Vaskin-01.png' %}" alt="Yuriy Vaskin image" style="width: 200px; height: 200px;">
                <p class="about-name">Yuriy Vaskin</p>
                <p class="about-descr">PhD Student</p> <p class="about-descr">DEIB, Politecnico di Milano</p>
            </div>
            <div class="col-lg-3">
                <img class="img-circle" src="{% static 'gmql_website/images/team/Francesco Venco-01.png' %}" alt="Francesco Venco image" style="width: 200px; height: 200px;">
                <p class="about-name">Francesco Venco</p>
                <p class="about-descr">PhD Student</p> <p class="about-descr">DEIB, Politecnico di Milano</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <p><span class="text-muted">Collaborators</span></p>
                <hr class="black">
            </div>
        </div>
        <div class="row photos-row">
            <div class="col-lg-3">
                <img class="img-circle" src="{% static 'gmql_website/images/team/Gianpaolo Cugola-01.png' %}" alt="Gianpaolo Cugola image" style="width: 200px; height: 200px;">
                <p class="about-name">Gianpaolo Cugola</p>
                <p class="about-descr">Professor</p> <p class="about-descr">DEIB, Politecnico di Milano</p>
            </div>
            <div class="col-lg-3">
                <img class="img-circle" src="{% static 'gmql_website/images/unknown.png' %}" alt="Matteo Matteucci image" style="width: 200px; height: 200px;">
                <p class="about-name">Matteo Matteucci</p>
                <p class="about-descr">Professor</p> <p class="about-descr">Politecnico di Milano</p>
            </div>
            <div class="col-lg-3">
                <img class="img-circle" src="{% static 'gmql_website/images/team/Heiko Muller-01.png' %}" alt="Heiko Muller image" style="width: 200px; height: 200px;">
                <p class="about-name">Heiko Muller</p>
                <p class="about-descr">Senior Researcher</p> <p class="about-descr">IIT@SEMM</p>
            </div>
            <div class="col-lg-3">
                <img class="img-circle" src="{% static 'gmql_website/images/team/Chiara Leonardi-01.png' %}" alt="Chiara Leonardi image" style="width: 200px; height: 200px;">
                <p class="about-name">Research Fellow</p>
                <p class="about-descr">PhD Student</p> <p class="about-descr">DEIB, Politecnico di Milano</p>
            </div>
        </div>
    </div>
    </div>

    <div class="black-section aligned-section">
    <div class="container section">
        <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h4>Partners</h4>
            <hr class="white">
        </div>
        </div>
        <div class="row">
        <div class="col-lg-2 col-lg-offset-3">
            <img class="img-responsive" src="{% static 'gmql_website/images/Polimi-01.png' %}" alt="Polimi image" style="width: 150px; height: 150px;">
        </div>
        <div class="col-lg-2">
            <img class="img-responsive" src="{% static 'gmql_website/images/Gendata-01.png' %}" alt="Gendata2020 image" style="width: 150px; height: 150px;">
        </div>
        <div class="col-lg-2">
            <img class="img-responsive" src="{% static 'gmql_website/images/DEIB-01.png' %}" alt="DEIB image" style="width: 150px; height: 150px;">
        </div>
        </div>
    </div>
    </div>

    <div class="container section aligned-section" id="contacts">
        <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>Contacts</h2>
            <hr class="black">
        </div>
        </div>

        <div class="row contacts-section">
        <div class="col-lg-4">
            <p class="in-text-picture"><i class="fa fa-desktop fa-2x"></i></p>
             <p><a href="mailto:stefano.ceri@polimi.it?Subject=GMQL-web">stefano.ceri@polimi.it</a></p>
            <p><a href="mailto:marco.masseroli@polimi.it?Subject=GMQL-web">marco.masseroli@polimi.it</a></p>
        </div>
        <div class="col-lg-4">
            <p class="in-text-picture"><i class="fa fa-map-marker fa-2x"></i></p>
             <p>via Ponzio 34/5, Milan</p>
        </div>
        <div class="col-lg-4">
            <p class="in-text-picture"><i class="fa fa-phone fa-2x"></i></p>
             <p>+39 02 23993400</p>
        </div>
        </div>
        <div class="row contactform">
            <div class="col-lg-6">
                <form action="mailto:stefano.ceri@polimi.it" method="post" enctype="text/plain">
                <textarea class="form-control" name="message" rows="3" placeholder="Your message"></textarea>
                <input class="btn btn-primary" type="submit" value="Submit">
                </form>
            </div>
            <div class="col-lg-6">
                {% cache 600 'ponzio' "Italy, Milan, via Ponzio 34/5" %}
                        {% easy_map "Italy, Milan, via Ponzio 34/5" 500 300 %}
                {% endcache %}
            </div>
        </div>
        <div class="row">

        </div>

    </div>

    <div class="black-section aligned-section">
    <div class="container footer">
        <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <p class="text-muted"><i class="fa fa-copyright"></i>{% now "Y" %}. GMQL All Rights Reserved</p>
        </div>
        </div>
    </div>
    </div>

{% endblock %}
